.container {
	display: grid;
	grid-template-columns:
		80px /* term + level */
		60px /* crn */
		100px /* shortName */
		200px /* longName */
		60px /* section */
		80px /* enrollment */
		60px /* totalTAs */
		100px /* meetingDays */
		180px /* meetingTimes */
		100px /* meetingRoom */
		160px /* instructorName */
		200px /* instructorEmail */
		200px; /* courseDescription */
	gap: 0px;
}

.flexParent {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.cell {
	margin: 2px;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	background-color: rgb(255, 255, 169);
	padding: 2px;
	text-shadow: 1px 0px 0px rgb(85, 16, 16);
}

.headCell {
	background-color: rgb(208, 208, 252);
}
.incomplete {
	color: red;
}

.pagRow {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 160px;
}

.pagButton {
	position: relative;
	cursor: pointer;
	margin-right: 100px;
	margin-bottom: 100px;
	margin-left: 100px;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(162, 0, 255);
	border-radius: 20px;
	background-color: purple;
	padding: 6px;
	width: 200px;
	height: 40px;
	color: white;
	font-size: 14pt;
}

.helperText {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	color: black;
	font-size: 16pt;
	text-align: left;
	text-shadow: -1 -1 2 black;
}
