.vertParent {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.radioLayer {
	display: flex;
	flex-direction: row;
	gap: 20px;
}

.helperText {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	color: black;
	font-size: 16pt;
	text-align: left;
	text-shadow: -1 -1 2 black;
}

.error {
	color: red;
}

.roomList {
	flex-wrap: wrap;
	gap: 10px;
	max-width: 50vw;
}
.roomText {
	color: rgb(99, 185, 251);
	font-size: 18px;
	text-shadow: black 1px 1px 1px;
}
