.courseEdit {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.courseEditList {
	display: flex;
    flex-direction: column;
	gap: 10px;
}

.courseEditMultiText {
	display: flex;
	gap: 10px;
}

.courseEditMultiText input {
	width: 100%;
}

.fieldGroup {
	display: flex;
	flex-direction: column;
	gap: 4px;
	font-weight: 600;
}

.fieldGroup input {
	font: inherit;
	font-weight: 400;
	padding: 10px;
	border: 1px solid black;
	border-radius: 4px;
}

.courseEditButton {
	align-self: flex-end;
	background-color: rgb(237, 193, 111);
	padding: 10px;
	font-size: 14pt;
	text-shadow: 1px 1px 1px white;
}
